@import url(@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Sevillana&display=swap'););


*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}

a {
    text-decoration: none;
}


#container { 

margin: 0 auto;
width: 1200px;
}

 header {
    width: 100%;
    height: 100px;
    background-color: #07c;
 }   


#logo {
    float: left;
    width: 250px;
    height: 100px;
    /* background-color: indigo; */
    /* line-height: 100px; */
    padding-left: 20px;
    
}
#logo h1 {
    font-family: 'Sevillana', cursive; 
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 0 -1px 0 #222;

}

nav { 
    width: 900px;
    height: 100px;
    float: right;
    /* background-color: green; */
    /* padding-top: 40px; */
}

ul {
    list-style: none;
}

#topMenu {
    height: 60px;
}

#topMenu > li {
    float: left;
    /* width: 200px; */
    position: relative;
    
}

#topMenu >li > a {
    display: block;
    color: white;
    font-weight: 600;
    padding: 20px 60px;
    text-shadow: 0 1px #07c;
}

#topMenu > li > a >span {
    font-size: 0.5em;
}

#topMenu >li>a:hover {
    color: black;
}

#topMenu >li > ul > li > a {
    font-size: 14px;
    color: black;
    text-align: center;
    
}

#topMenu >li > ul > li > a:hover {
    color: red;
}

#topMenu > li >ul {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
    

}

/* 
#topMenu >li >ul {
    left: 20px;
    
} */

#topMenu > li > ul >li {
padding: 10px 10px 10px 10px;
}
/* 이게되네 */
#topMenu > li:hover >ul {  
    display: block;
}



#slideShow {

    clear: both;
    overflow: hidden;

    height: 300px;
    width: 100%;
    background-color: orange;
}

#content {

    width: 100%;
    height: 300px;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    /* background-color:violet; */
}

#quick-icon1 {
    background-image: url(../images/icon-1.jpg)
}

#quick-icon2 {
    background-image: url(../images/icon-2.jpg)
}

#quick-icon3 {
    background-image: url(../images/icon-3.jpg)
}
#links ul li a span {

display: block;
margin: 0 auto;
border-radius: 100%;
width: 150px;
height: 150px;
border: 1px solid #ddd;
line-height: 150px;

}

#links ul {
    padding: 0;
    margin-top: 50px;
}


#links ul li {

    float: left;
    width: 33%;
    text-align: center;
    margin: 10px 0;
}

#links ul li a p {
margin-top: 15px;
font-weight: 600;
color: #666;
font-size: 14px;


}

#links ul { 
    list-style: none;
}

a {
    text-decoration: none;
}

footer { 
    width: 100%;
    height: 100px;
    background-color: gray;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    margin-top: 10px;
}


.tabcontent {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}



#tabMenu label {
    display: inline-block;
    margin: 0 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid transparent;
}

#tabMenu label:hover {
    cursor: pointer ;
    color: #222;
}

#tabMenu input:checked + label{
    /* ! */
    color: #b00;
    background-color: #eee;
    border: 1px solid #ddd;

}

#tabMenu input[type="radio"]{
    display: none;
    border: 1px solid #ddd;
    background-color: #eee;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    margin-top: 10px;
}


.tabcontent {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}



#tabMenu label {
    display: inline-block;
    margin: 0 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid transparent;
}

#tabMenu label:hover {
    cursor: pointer ;
    color: #222;
}

#tabMenu input:checked + label{
    /* ! */
    color: #b00;
    background-color: #eee;
    border: 1px solid #ddd;

}

#tabMenu input[type="radio"]{
    display: none;
    border: 1px solid #ddd;
    background-color: #eee;
}


input[type="radio" i] { 

background-color: initial;
cursor: default;
appearance: auto;

}

#notice ul {
    list-style: disc; 
    /* 까만테두리 */
    margin-left: 30px;
}

#notice ul li {
    font-size: 16px;
    line-height: 2.5;
}

#gallery ul li {
    display: inline; 
    /* 이미지가로로배치 */
}

#tab1:checked ~ #notice, 
#tab2:checked ~ #gallery {
    /* 형제 선택자 */
    display: block;
    /* background-color: gray; */
}

#footermenu {
    width: 100%;
    position: relative;
    height: 20px;

}

a{
    text-decoration: none;
}

#footermenu ul{
    margin-top: 15px;
}

ul{
    list-style: none; 
    /* ul 점 없앰 */
}

#footermenu ul li {
    float: left;
    padding: 5px 25px;
    border: 1px solid #ddd;
}

#sns {
    position: absolute;
    right: 0;
}

#sns ul li {
    border: none;
    padding: 5px;
}

#address {
    clear: left;
    margin-top: 25px;
    margin-left: 20px;
}

p{ 
    font-size: 14px;
    color: #aaa;
}